version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - '5173:5173'
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - '3000:3000'
    volumes:
      - .:/server
    environment:
      - NODE_ENV=development
